// COLOR PALETTE
//$primary-color-dark:   #455A64;
//$primary-color:        #607D8B;
//$primary-color-light:  #CFD8DC;
//$primary-color-text:   #FFFFFF;
//$accent-color:         #9E9E9E;
//$primary-text-color:   #212121;
//$secondary-text-color: #757575;
//$divider-color:        #BDBDBD;

//$primary-color-dark:   #00796B;
//$primary-color:        #009688;
//$primary-color-light:  #B2DFDB;
//$primary-color-text:   #FFFFFF;
//$accent-color:         #009688;
//$primary-text-color:   #212121;
//$secondary-text-color: #757575;
//$divider-color:        #BDBDBD;

//$primary-color-dark:   #616161;
//$primary-color:        #9E9E9E;
//$primary-color-light:  #F5F5F5;
//$primary-color-text:   #212121;
//$accent-color:         #9E9E9E;
//$primary-text-color:   #212121;
//$secondary-text-color: #757575;
//$divider-color:        #BDBDBD;

//$primary-color-dark:   #5D4037;
//$primary-color:        #795548;
//$primary-color-light:  #D7CCC8;
//$primary-color-text:   #FFFFFF;
//$accent-color:         #795548;
//$primary-text-color:   #212121;
//$secondary-text-color: #757575;
//$divider-color:        #BDBDBD;

//$primary-color-dark:   #512DA8;
//$primary-color:        #673AB7;
//$primary-color-light:  #D1C4E9;
//$primary-color-text:   #FFFFFF;
//$accent-color:         #7C4DFF;
//$primary-text-color:   #212121;
//$secondary-text-color: #757575;
//$divider-color:        #BDBDBD;

$primary-color-dark:   #1976D2;
$primary-color:        #2196F3;
$primary-color-light:  #BBDEFB;
$primary-color-text:   #FFFFFF;
$accent-color:         #ff5722;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

$color-black-light: #222426;

$color-danger: #DC3545;

// FONT
$xs-font-size: 1rem;
$sm-font-size: 1.2rem;
$md-font-size: 1.7rem;
$bg-font-size: 2.5rem;
$lg-font-size: 3.2rem;

// PAGE SIZING
$navigation-bar-height: 6rem;